# Библиотека Pandas (Версия для Python 3)

## Data Frame

In [2]:
import pandas as pd

In [3]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('data_sample_example.tsv', header=0, sep='\t')

In [4]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [5]:
frame.dtypes

Name        object
Birth       object
City        object
Position    object
dtype: object

In [6]:
#изменение типа столбца с помощью функции apply
frame.Birth = frame.Birth.apply(pd.to_datetime)

In [7]:
frame

              Name      Birth       City  Position
0      Иванов А.А. 1980-03-22     Москва       NaN
1     Сорокин И.В. 1965-07-08  Волгоград   инженер
2       Белов М.М. 1980-02-13     Ростов  менеджер
3  Мельникова Д.С. 1985-04-15     Ростов       NaN
4      Рыбина Е.П. 1985-11-19     Москва   инженер
5     Костров С.О. 1985-05-31     Москва    стажер

In [8]:
frame.dtypes

Name                object
Birth       datetime64[ns]
City                object
Position            object
dtype: object

In [9]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6 non-null      object
 1   Birth     6 non-null      datetime64[ns]
 2   City      6 non-null      object
 3   Position  4 non-null      object
dtypes: datetime64[ns](1), object(3)
memory usage: 320.0+ bytes

In [10]:
#заполнение пропущенных значений с помощью метода fillna
frame.fillna('разнорабочий')

              Name      Birth       City      Position
0      Иванов А.А. 1980-03-22     Москва  разнорабочий
1     Сорокин И.В. 1965-07-08  Волгоград       инженер
2       Белов М.М. 1980-02-13     Ростов      менеджер
3  Мельникова Д.С. 1985-04-15     Ростов  разнорабочий
4      Рыбина Е.П. 1985-11-19     Москва       инженер
5     Костров С.О. 1985-05-31     Москва        стажер

In [11]:
#заполнение пропущенных значений с помощью метода fillna (inplace)
frame.fillna('разнорабочий', inplace=True)

In [12]:
frame

              Name      Birth       City      Position
0      Иванов А.А. 1980-03-22     Москва  разнорабочий
1     Сорокин И.В. 1965-07-08  Волгоград       инженер
2       Белов М.М. 1980-02-13     Ростов      менеджер
3  Мельникова Д.С. 1985-04-15     Ростов  разнорабочий
4      Рыбина Е.П. 1985-11-19     Москва       инженер
5     Костров С.О. 1985-05-31     Москва        стажер

In [13]:
frame.Position

0    разнорабочий
1         инженер
2        менеджер
3    разнорабочий
4         инженер
5          стажер
Name: Position, dtype: object

In [14]:
frame[['Position']]

       Position
0  разнорабочий
1       инженер
2      менеджер
3  разнорабочий
4       инженер
5        стажер

In [32]:
for x in frame[['Name', 'Position']].iterrows():
    print(x)

AttributeError: 'tuple' object has no attribute 'Name'

In [16]:
frame[:3] #выбираем первые три записи

           Name      Birth       City      Position
0   Иванов А.А. 1980-03-22     Москва  разнорабочий
1  Сорокин И.В. 1965-07-08  Волгоград       инженер
2    Белов М.М. 1980-02-13     Ростов      менеджер

In [17]:
frame[-3:] #выбираем три послдение записи

              Name      Birth    City      Position
3  Мельникова Д.С. 1985-04-15  Ростов  разнорабочий
4      Рыбина Е.П. 1985-11-19  Москва       инженер
5     Костров С.О. 1985-05-31  Москва        стажер

In [18]:
frame.loc[[0,1,2], ["Name", "City"]] #работает на основе имен

           Name       City
0   Иванов А.А.     Москва
1  Сорокин И.В.  Волгоград
2    Белов М.М.     Ростов

In [19]:
frame.iloc[[1,3,5], [0,1]] #работает на основе позиций

              Name      Birth
1     Сорокин И.В. 1965-07-08
3  Мельникова Д.С. 1985-04-15
5     Костров С.О. 1985-05-31

In [20]:
frame.ix[[0,1,2], ["Name", "City"]]  #поддерживает и имена и позиции (пример с именами)

AttributeError: 'DataFrame' object has no attribute 'ix'

In [21]:
frame.ix[[0,1,2], [0,1]] #поддерживает и имена и позиции (пример с позициями)

AttributeError: 'DataFrame' object has no attribute 'ix'

In [22]:
#выбираем строки, которые удовлетворяют условию frame.Birth >= pd.datetime(1985,1,1)
frame[frame.Birth >= pd.datetime(1985,1,1)]

              Name      Birth    City      Position
3  Мельникова Д.С. 1985-04-15  Ростов  разнорабочий
4      Рыбина Е.П. 1985-11-19  Москва       инженер
5     Костров С.О. 1985-05-31  Москва        стажер

In [23]:
#выбираем строки, удовлетворяющие пересечению условий
frame[(frame.Birth >= pd.datetime(1985,1,1)) &
      (frame.City != 'Москва')]

              Name      Birth    City      Position
3  Мельникова Д.С. 1985-04-15  Ростов  разнорабочий

In [24]:
#выбираем строки, удовлетворяющие объединению условий
frame[(frame.Birth >= pd.datetime(1985,1,1)) |
      (frame.City == 'Волгоград')]

              Name      Birth       City      Position
1     Сорокин И.В. 1965-07-08  Волгоград       инженер
3  Мельникова Д.С. 1985-04-15     Ростов  разнорабочий
4      Рыбина Е.П. 1985-11-19     Москва       инженер
5     Костров С.О. 1985-05-31     Москва        стажер